body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu_logo{
  position: relative;
  margin-top: -40px;
  padding-top: 0%;
}

.logo{
  height: 120px;
  position: relative;
  margin-top: 0px;
  padding-top: 0%;
}

.logo_signin{
  height: 200px;
  position: relative;
  margin-top: 0px;
  padding-top: 0%;
}